[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

/*------ RESSET DE FONTE ---------------------------------------------*/
@font-face {
    font-family: Abstrec;
    src: url(../font/Abstrec_font_tfb.ttf);
}




.navbar-nav{
    padding-top: 30px;
}
.navbar-petiko{
    margin-bottom: 0px !important;
}
/*.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand{
    float:none !important;
}*/
h1, h2, h3, h4, h5, label, strong {
    font-family: "Abstrec" !important;
}

.slide{
    height: 560px;
    background: url('../img/capa3.jpg') no-repeat left center; 
    margin: 0px;
}

.sloganPetiko{
    padding-top: 250px;
    /*vertical-align: middle;*/
}

.barAzul{
    margin-top: -5px;
    height: 100px;
    background: #049ed3;
    padding: 20px;
}
.barAzul h1{
    color: #fff !important;
}
.barVerde{
    margin-top: -5px;
    height: 100px;
    background: #9eab04;
    padding: 20px;   
}
.barVerde h1{
    color: #fff !important;
}
.thumbnail{
    border: none !important;
}

.cadastro{
    background: #78acaa
}


#userInfo {
    float:right;padding:8px;
}

footer{
    height: 200px;
    background: #2c2c2c;
}
.fade-hide-setup, .fade-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
    opacity:1;
}
.fade-hide-setup.fade-hide-start {
    opacity:0;
}

.fade-show-setup {
    opacity:0;
}
.fade-show-setup.fade-show-start {
    opacity:1;
}